.menu {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.menu .div {
  background-color: var(--variable-collection-background);
  width: 1728px;
  height: 1117px;
  position: relative;
}

.menu .text-wrapper {
  position: absolute;
  top: 83px;
  left: 767px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu .text-wrapper-2 {
  position: absolute;
  top: 58px;
  left: 67px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.menu .group {
  position: absolute;
  width: 1010px;
  height: 68px;
  top: 175px;
  left: 399px;
}

.menu .overlap-group {
  position: relative;
  width: 1008px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.menu .text-wrapper-3 {
  position: absolute;
  top: 15px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu .frame {
  display: flex;
  flex-wrap: wrap;
  width: 1196px;
  align-items: flex-start;
  gap: 94px 86px;
  position: absolute;
  top: 353px;
  left: 305px;
}

.menu .overlap-wrapper {
  position: relative;
  width: 336px;
  height: 247px;
}

.menu .overlap {
  position: relative;
  height: 247px;
}

.menu .group-2 {
  position: absolute;
  width: 336px;
  height: 247px;
  top: 0;
  left: 0;
}

.menu .div-2 {
  position: absolute;
  width: 283px;
  height: 247px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-background);
}

.menu .image {
  position: absolute;
  width: 276px;
  height: 183px;
  top: 32px;
  left: 4px;
  object-fit: cover;
}

.menu .rectangle {
  position: absolute;
  width: 42px;
  height: 40px;
  top: 207px;
  left: 294px;
  background-color: var(--variable-collection-background);
}

.menu .arrow {
  position: absolute;
  width: 15px;
  height: 25px;
  top: 213px;
  left: 308px;
}

.menu .overlap-group-wrapper {
  position: absolute;
  width: 203px;
  height: 74px;
  top: 996px;
  left: 1258px;
}

.menu .div-wrapper {
  position: relative;
  width: 201px;
  height: 74px;
  background-color: var(--variable-collection-blue);
  border-radius: 15px;
}

.menu .text-wrapper-4 {
  position: absolute;
  width: 168px;
  top: 18px;
  left: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.menu .group-3 {
  position: absolute;
  width: 218px;
  height: 74px;
  top: 59px;
  left: 1480px;
}

.menu .overlap-2 {
  position: relative;
  width: 216px;
  height: 74px;
}

.menu .rectangle-2 {
  position: absolute;
  width: 201px;
  height: 74px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-blue);
  border-radius: 15px;
}

.menu .text-wrapper-5 {
  position: absolute;
  width: 168px;
  top: 13px;
  left: 48px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}
