* {
  font-family: monospace;
}

.payment {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payment .div {
  background-color: var(--variable-collection-background);
  width: 1728px;
  height: 1117px;
  position: relative;
}

.payment .overlap {
  position: absolute;
  width: 287px;
  height: 43px;
  top: 107px;
  left: 734px;
}

.payment .frame {
  position: absolute;
  width: 243px;
  height: 36px;
  top: 7px;
  left: 44px;
}

.payment .text-wrapper {
  top: 0;
  left: 0;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .p {
  position: absolute;
  top: 163px;
  left: 526px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .overlap-group {
  position: absolute;
  width: 865px;
  height: 760px;
  top: 231px;
  left: 219px;
  background-color: #fbfbfb;
  border-radius: 30px;
}

.payment .line {
  width: 865px;
  height: 2px;
  top: 145px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.payment .frame-2 {
  display: flex;
  width: 750px;
  align-items: center;
  gap: 208px;
  position: absolute;
  top: 42px;
  left: 53px;
}

.payment .frame-3 {
  display: inline-flex;
  align-items: center;

  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.payment .radio-button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.payment .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 51px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -30.33px;
}

.payment .div-2 {
  position: relative;
  width: 84px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #f3f3f3;
}

.payment .overlap-group-2 {
  position: absolute;
  width: 33px;
  height: 20px;
  top: 19px;
  left: 7px;
}

.payment .polygon {
  position: absolute;
  width: 9px;
  height: 20px;
  top: 0;
  left: 24px;
}

.payment .combined-shape {
  position: absolute;
  width: 26px;
  height: 20px;
  top: 0;
  left: 0;
}

.payment .overlap-2 {
  position: absolute;
  width: 36px;
  height: 21px;
  top: 19px;
  left: 41px;
}

.payment .path {
  position: absolute;
  width: 17px;
  height: 21px;
  top: 0;
  left: 0;
}

.payment .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 16px;
}

.payment .group {
  position: relative;
  width: 53px;
  height: 40px;
  top: 8px;
  left: 15px;
}

.payment .path-2 {
  position: absolute;
  width: 47px;
  height: 6px;
  top: 34px;
  left: 3px;
}

.payment .overlap-group-3 {
  position: absolute;
  width: 53px;
  height: 32px;
  top: 0;
  left: 0;
}

.payment .path-3 {
  position: absolute;
  width: 14px;
  height: 25px;
  top: 3px;
  left: 19px;
}

.payment .path-4 {
  position: absolute;
  width: 26px;
  height: 32px;
  top: 0;
  left: 0;
}

.payment .path-5 {
  position: absolute;
  width: 26px;
  height: 32px;
  top: 0;
  left: 26px;
}

.payment .XMLID {
  position: absolute;
  width: 52px;
  height: 22px;
  top: 18px;
  left: 15px;
}

.payment .frame-5 {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  top: 193px;
  left: 73px;
}

.payment input {
  position: relative;
  width: 278px;
  height: 53px;
  margin-right: -10.81px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.payment .frame-6 {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  top: 380px;
  left: 73px;
}

.payment .frame-7 {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  top: 557px;
  left: 73px;
}

.payment .frame-8 {
  display: flex;
  flex-direction: column;
  width: 354px;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  top: 557px;
  left: 428px;
}

.payment .rectangle-2 {
  position: relative;
  width: 368px;
  height: 53px;
  margin-right: -14.31px;
}

.payment .frame-9 {
  display: flex;
  flex-direction: column;
  width: 130px;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  top: 380px;
  left: 428px;
}

.payment .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -2.25px;

  font-weight: 400;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .expiration {
  width: 135px;
  margin-right: -5.25px;
  position: relative;
  height: 53px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.payment .frame-10 {
  display: flex;
  flex-direction: column;
  width: 119px;
  align-items: center;
  gap: 43px;
  position: absolute;
  top: 380px;
  left: 583px;
}

.payment .cvv {
  width: 124px;
  margin-left: -2.41px;
  margin-right: -2.41px;
  position: relative;
  height: 53px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.payment .frame-11 {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  top: 193px;
  left: 432px;
}

.payment .overlap-3 {
  position: absolute;
  width: 503px;
  height: 762px;
  top: 229px;
  left: 1084px;
  background-color: #176bcd;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
}

.payment .line-2 {
  width: 413px;
  height: 1px;
  top: 435px;
  left: 45px;
  position: absolute;
  object-fit: cover;
}

.payment .text-wrapper-4 {
  position: absolute;
  top: 232px;
  left: 36px;

  font-weight: 300;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .text-wrapper-5 {
  top: 52px;
  left: 148px;

  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .text-wrapper-6 {
  position: absolute;
  top: 495px;
  left: 48px;

  font-weight: 300;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .text-wrapper-7 {
  position: absolute;
  top: 307px;
  left: 36px;

  font-weight: 300;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.payment .line-3 {
  width: 413px;
  height: 1px;
  top: 146px;
  left: 40px;
  position: absolute;
  object-fit: cover;
}

.payment .overlap-4 {
  position: absolute;
  width: 388px;
  height: 66px;
  top: 623px;
  left: 65px;
  border-radius: 40px;
}

.payment .rectangle-5 {
  position: absolute;
  width: 388px;
  height: 66px;
  top: 0;
  left: 0;
  background-color: #263b80;
  border-radius: 40px;
}

.payment .text-wrapper-8 {
  position: absolute;
  top: 15px;
  left: 159px;

  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.card_logo {
  display: inline-flex;
}
