* {
  font-family: monospace;
}

.payment {
  text-align: center;
  width: 100%;
}

table {
  font-size: 13px;
}

.image_container {
  display: flex;
  justify-content: center;
  width: 50%;
}

button {
  background-color: #263b80;
  color: white;
  border-radius: 10px;
}

.payment_setting {
  background-color: #176bcd;
  border: 1px solid black;
  border-radius: 10px;
  color: #f1f5f8;
}

.payment_box {
  border-radius: 10px;
  background-color: #f1f5f8;
}

img {
  border-radius: 20px;
}
